* {
    --primary-color: #0E2954;
    --secondary-color: #1F6E8C;
    --tertiary-color: #2E8A99;
    --quartenary-color: #e7eaf6;   
    font-family: monospace;
}
body {
    background-color: var(--secondary-color);
    background-image: url("../imagens/background.jpg");
}

#side_nav {
    background: var(--primary-color);
    width: 400px;
}

.content {
    min-height: 100vh;
    width: 100%;
    
}

.header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.header-box img {
    margin-top: 30px;
    margin: 50px;
    width: 200px;
    border-radius: 50%;
}

a {
    color: var(--quartenary-color);
    font-size: 14px;
    margin-top: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #daa520;
}

a:active {
    text-decoration: none;
}

.content {
    margin: 20px 20px 20px 40px;
}

hr {
    border: 1px solid var(--quartenary-color);
}

#meus-repositorios .fs-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.repositorios .fs-6 {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.fs-6 {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    padding: 0px;
}

.titulo-secao {
    margin: 0px;
    margin-bottom: 5px;
    text-align: justify;
    
}

.contato {
    margin-left: 15px;
    width: 300px;
    font-size: 13px;
    text-align: justify;
    padding: 10px;
}

.texto {
    font-size: 14px;
    text-align: justify;    
}

.inspiracoes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 20px 200px;
}

.card-inspiracoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--tertiary-color);
}

.card-inspiracoes:hover {
    background-image: linear-gradient(
        var(--tertiary-color),
        var(--primary-color)
    );
    cursor: pointer;
}

.card-inspiracoes img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 50%;
}

.nome-inspiracao {
    margin-top: 20px;
    color: black;
}

button {
    display: flex;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 1%;
    bottom: 2%;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (max-width: 767px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    #side_nav {
        background: var(--primary-color);
        width: 100%;
        height: 50%;
    }

    .content {
        min-height: 100vh;
        width: 100%;
        margin-left: 30px;
    }

    .header-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }

    .header-box img {
        margin-top: 30px;
        margin: 50px;
        width: 150px;
        border-radius: 50%;
    }

    #meus-repositorios .fs-4 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .repositorios .fs-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        width: 90%;
    }
    .fs-6 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 10px;
        padding: 0px;
        width: 90%;
    }

    .titulo-secao {
        margin: 0px;
        margin-bottom: 5px;
    }

    .contato {
        margin-left: 0px;
        width: 100%;
        font-size: 13px;
        text-align: justify;
        padding: 10px;
    }

    .texto {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        font-size: 14px;
        text-align: justify;
        width: 90%;
        padding: 20px 20px 20px 0px;
        margin: 10px 10px 10px 0px;
    }
    .inspiracoes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin: 20px 100px 50px 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    #side_nav {
        background: var(--primary-color);
        width: 100%;
        height: 50%;
    }

    .content {
        min-height: 100vh;
        width: 100%;
        margin-left: 30px;
    }

    .header-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }

    .header-box img {
        margin-top: 30px;
        margin: 50px;
        width: 150px;
        border-radius: 50%;
    }

    #meus-repositorios .fs-4 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .repositorios .fs-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        width: 90%;
    }
    .fs-6 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 10px;
        padding: 0px;
        width: 90%;
    }

    .titulo-secao {
        margin: 0px;
        margin-bottom: 5px;
    }

    .contato {
        margin-left: 0px;
        width: 100%;
        font-size: 13px;
        text-align: justify;
        padding: 10px;
    }

    .texto {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        font-size: 14px;
        text-align: justify;
        width: 90%;
        padding: 20px 20px 20px 0px;
        margin: 10px 10px 10px 0px;
    }
    .inspiracoes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin: 20px 100px 50px 20px;
    }
}
